# Chapter 2

This notebook contains the commands that are shown in the lectures.

In [43]:
library(tidyverse)

In [84]:
atp_players <- read_csv('../data/atp_players.csv', col_names=c('player_id', 'first_name', 'last_name', 'hand', 'birth_date', 'country_code'))
head(atp_players)

Parsed with column specification:
cols(
  player_id = col_double(),
  first_name = col_character(),
  last_name = col_character(),
  hand = col_character(),
  birth_date = col_double(),
  country_code = col_character()
)

  player_id first_name     last_name hand birth_date country_code
1 100001    Gardnar        Mulloy    R    19131122   USA
2 100002    Pancho         Segura    R    19210620   ECU
3 100003    Frank          Sedgman   R    19271002   AUS
4 100004    Giuseppe       Merlo     R    19271011   ITA
5 100005    Richard Pancho Gonzales  R    19280509   USA
6 100006    Grant          Golden    R    19290821   USA

In [85]:
str(atp_players)

Classes ‘spec_tbl_df’, ‘tbl_df’, ‘tbl’ and 'data.frame':	54938 obs. of  6 variables:
 $ player_id   : num  1e+05 1e+05 1e+05 1e+05 1e+05 ...
 $ first_name  : chr  "Gardnar" "Pancho" "Frank" "Giuseppe" ...
 $ last_name   : chr  "Mulloy" "Segura" "Sedgman" "Merlo" ...
 $ hand        : chr  "R" "R" "R" "R" ...
 $ birth_date  : num  19131122 19210620 19271002 19271011 19280509 ...
 $ country_code: chr  "USA" "ECU" "AUS" "ITA" ...
 - attr(*, "spec")=
  .. cols(
  ..   player_id = col_double(),
  ..   first_name = col_character(),
  ..   last_name = col_character(),
  ..   hand = col_character(),
  ..   birth_date = col_double(),
  ..   country_code = col_character()
  .. )

In [86]:
head(atp_players)

  player_id first_name     last_name hand birth_date country_code
1 100001    Gardnar        Mulloy    R    19131122   USA
2 100002    Pancho         Segura    R    19210620   ECU
3 100003    Frank          Sedgman   R    19271002   AUS
4 100004    Giuseppe       Merlo     R    19271011   ITA
5 100005    Richard Pancho Gonzales  R    19280509   USA
6 100006    Grant          Golden    R    19290821   USA

In [83]:
library(lubridate)
atp_players <- atp_players %>%
    mutate(birth_date=parse_date_time(birth_date, order='%Y%m%d'))
str(atp_players)

Warning message:
“ 125 failed to parse.”

Classes ‘spec_tbl_df’, ‘tbl_df’, ‘tbl’ and 'data.frame':	54938 obs. of  6 variables:
 $ player_id   : num  1e+05 1e+05 1e+05 1e+05 1e+05 ...
 $ first_name  : chr  "Gardnar" "Pancho" "Frank" "Giuseppe" ...
 $ last_name   : chr  "Mulloy" "Segura" "Sedgman" "Merlo" ...
 $ hand        : chr  "R" "R" "R" "R" ...
 $ birth_date  : POSIXct, format: "1913-11-22" "1921-06-20" ...
 $ country_code: chr  "USA" "ECU" "AUS" "ITA" ...

In [67]:
atp_players <- atp_players %>%
    unite(name, last_name, first_name, sep=', ', remove=FALSE)

head(atp_players)

  player_id name                     first_name     last_name hand birth_date
1 100001    Mulloy, Gardnar          Gardnar        Mulloy    R    19131122
2 100002    Segura, Pancho           Pancho         Segura    R    19210620
3 100003    Sedgman, Frank           Frank          Sedgman   R    19271002
4 100004    Merlo, Giuseppe          Giuseppe       Merlo     R    19271011
5 100005    Gonzales, Richard Pancho Richard Pancho Gonzales  R    19280509
6 100006    Golden, Grant            Grant          Golden    R    19290821
  country_code
1 USA
2 ECU
3 AUS
4 ITA
5 USA
6 USA

In [68]:
atp_players <- atp_players %>%
    select(-first_name, -last_name)

str(atp_players)

Classes ‘tbl_df’, ‘tbl’ and 'data.frame':	54938 obs. of  5 variables:
 $ player_id   : num  1e+05 1e+05 1e+05 1e+05 1e+05 ...
 $ name        : chr  "Mulloy, Gardnar" "Segura, Pancho" "Sedgman, Frank" "Merlo, Giuseppe" ...
 $ hand        : chr  "R" "R" "R" "R" ...
 $ birth_date  : num  19131122 19210620 19271002 19271011 19280509 ...
 $ country_code: chr  "USA" "ECU" "AUS" "ITA" ...

In [72]:
object.size(atp_players[['hand']])
atp_players <- atp_players %>%
    mutate_at(c('country_code', 'hand'), as.factor)
object.size(atp_players[['hand']])
print(levels(atp_players[['hand']]))
str(atp_players)

220440 bytes

220440 bytes

[1] "A" "L" "R" "U"
Classes ‘tbl_df’, ‘tbl’ and 'data.frame':	54938 obs. of  5 variables:
 $ player_id   : num  1e+05 1e+05 1e+05 1e+05 1e+05 ...
 $ name        : chr  "Mulloy, Gardnar" "Segura, Pancho" "Sedgman, Frank" "Merlo, Giuseppe" ...
 $ hand        : Factor w/ 4 levels "A","L","R","U": 3 3 3 3 3 3 2 3 3 3 ...
 $ birth_date  : num  19131122 19210620 19271002 19271011 19280509 ...
 $ country_code: Factor w/ 210 levels "AFG","AHO","ALB",..: 200 62 13 97 200 200 160 58 88 43 ...

In [33]:
atp_players.loc[,['country_code']]

ERROR: Error in parse(text = x, srcfile = src): <text>:1:18: unexpected '['
1: atp_players.loc[,[
                     ^

In [3]:
iris <- read_csv('../data/iris.data', col_names=c('Sepal.Length', 'Sepal.Width', 'Petal.Length', 'Petal.Width', 'Species'))

Parsed with column specification:
cols(
  Sepal.Length = col_double(),
  Sepal.Width = col_double(),
  Petal.Length = col_double(),
  Petal.Width = col_double(),
  Species = col_character()
)

In [11]:
print(iris)

# A tibble: 150 x 5
   Sepal.Length Sepal.Width Petal.Length Petal.Width Species
          <dbl>       <dbl>        <dbl>       <dbl> <chr>
 1          5.1         3.5          1.4         0.2 Iris-setosa
 2          4.9         3            1.4         0.2 Iris-setosa
 3          4.7         3.2          1.3         0.2 Iris-setosa
 4          4.6         3.1          1.5         0.2 Iris-setosa
 5          5           3.6          1.4         0.2 Iris-setosa
 6          5.4         3.9          1.7         0.4 Iris-setosa
 7          4.6         3.4          1.4         0.3 Iris-setosa
 8          5           3.4          1.5         0.2 Iris-setosa
 9          4.4         2.9          1.4         0.2 Iris-setosa
10          4.9         3.1          1.5         0.1 Iris-setosa
# … with 140 more rows

In [58]:
wdbc_data <- read_csv('../data/wdbc.data', col_names=FALSE)

Parsed with column specification:
cols(
  .default = col_double(),
  X2 = col_character()
)
See spec(...) for full column specifications.

In [23]:

library(readxl)
efw <- read_excel('../data/efw.xlsx', col_names=TRUE, range='B5:BU4055')
problems(efw)

New names:
* data -> data...8
* data -> data...10
* data -> data...12
* data -> data...14
* data -> data...16
* … and 6 more problems

     row col expected actual

In [79]:
library(hdf5r)
datafile_h5 <- H5File$new('../data/datacollection_r.h5', mode = 'w')
datasets_list = list('iris'=iris, 'wdbc'=wdbc_data)
for (dataset_name in names(datasets_list)) {
    dataset <- datasets_list[[dataset_name]]
    datagroup_h5 <- datafile_h5$create_group(dataset_name) 
    for (column in colnames(dataset)) {
        datagroup_h5[[column]] <- dataset[[column]]
    }
    print(datagroup_h5)
}
print(datafile_h5)

datafile_h5$close_all()

Class: H5Group
Filename: /u/59/tuomiss1/unix/dataanalysis/data-analysis-workflows-course/data/datacollection.h5
Group: /iris
Listing:
         name    obj_type dataset.dims dataset.type_class
 Petal.Length H5I_DATASET          150          H5T_FLOAT
  Petal.Width H5I_DATASET          150          H5T_FLOAT
 Sepal.Length H5I_DATASET          150          H5T_FLOAT
  Sepal.Width H5I_DATASET          150          H5T_FLOAT
      Species H5I_DATASET          150         H5T_STRING
Class: H5Group
Filename: /u/59/tuomiss1/unix/dataanalysis/data-analysis-workflows-course/data/datacollection.h5
Group: /wdbc
Listing:
 name    obj_type dataset.dims dataset.type_class
   X1 H5I_DATASET          569          H5T_FLOAT
  X10 H5I_DATASET          569          H5T_FLOAT
  X11 H5I_DATASET          569          H5T_FLOAT
  X12 H5I_DATASET          569          H5T_FLOAT
  X13 H5I_DATASET          569          H5T_FLOAT
  X14 H5I_DATASET          569          H5T_FLOAT
  X15 H5I_DATASET          569          H5T_FLOAT
  X16 H5I_DATASET          569          H5T_FLOAT
  X17 H5I_DATASET          569          H5T_FLOAT
  X18 H5I_DATASET          569          H5T_FLOAT
< Printed 10, out of 32>
Class: H5File
Filename: /u/59/tuomiss1/unix/dataanalysis/data-analysis-workflows-course/data/datacollection.h5
Access type: H5F_ACC_RDWR
Listing:
 name  obj_type dataset.dims dataset.type_class
 iris H5I_GROUP         <NA>               <NA>
 wdbc H5I_GROUP         <NA>               <NA>

In [80]:
library(DBI)
con <- DBI::dbConnect(RSQLite::SQLite(), dbname = "../data/iris_r.sqlite")
copy_to(con, iris, overwrite=TRUE, temporary=FALSE)
dbDisconnect(con)

con <- DBI::dbConnect(RSQLite::SQLite(), dbname = "../data/iris_r.sqlite")
print(tbl(con,'iris'))
dbDisconnect(con)

# Source:   table<iris> [?? x 5]
# Database: sqlite 3.22.0
#   [/u/59/tuomiss1/unix/dataanalysis/data-analysis-workflows-course/data/iris_r.sqlite]
   Sepal.Length Sepal.Width Petal.Length Petal.Width Species
          <dbl>       <dbl>        <dbl>       <dbl> <chr>
 1          5.1         3.5          1.4         0.2 Iris-setosa
 2          4.9         3            1.4         0.2 Iris-setosa
 3          4.7         3.2          1.3         0.2 Iris-setosa
 4          4.6         3.1          1.5         0.2 Iris-setosa
 5          5           3.6          1.4         0.2 Iris-setosa
 6          5.4         3.9          1.7         0.4 Iris-setosa
 7          4.6         3.4          1.4         0.3 Iris-setosa
 8          5           3.4          1.5         0.2 Iris-setosa
 9          4.4         2.9          1.4         0.2 Iris-setosa
10          4.9         3.1          1.5         0.1 Iris-setosa
# … with more rows

In [72]:
library(feather)
write_feather(iris,'../data/iris.feather')

read_feather('../data/iris.feather')

    Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1   5.1          3.5         1.4          0.2         Iris-setosa
2   4.9          3.0         1.4          0.2         Iris-setosa
3   4.7          3.2         1.3          0.2         Iris-setosa
4   4.6          3.1         1.5          0.2         Iris-setosa
5   5.0          3.6         1.4          0.2         Iris-setosa
6   5.4          3.9         1.7          0.4         Iris-setosa
7   4.6          3.4         1.4          0.3         Iris-setosa
8   5.0          3.4         1.5          0.2         Iris-setosa
9   4.4          2.9         1.4          0.2         Iris-setosa
10  4.9          3.1         1.5          0.1         Iris-setosa
11  5.4          3.7         1.5          0.2         Iris-setosa
12  4.8          3.4         1.6          0.2         Iris-setosa
13  4.8          3.0         1.4          0.1         Iris-setosa
14  4.3          3.0         1.1          0.1         Iris-setosa
15  5.8          4.0         1.2          0.2         Iris-setosa
16  5.7          4.4         1.5          0.4         Iris-setosa
17  5.4          3.9         1.3          0.4         Iris-setosa
18  5.1          3.5         1.4          0.3         Iris-setosa
19  5.7          3.8         1.7          0.3         Iris-setosa
20  5.1          3.8         1.5          0.3         Iris-setosa
21  5.4          3.4         1.7          0.2         Iris-setosa
22  5.1          3.7         1.5          0.4         Iris-setosa
23  4.6          3.6         1.0          0.2         Iris-setosa
24  5.1          3.3         1.7          0.5         Iris-setosa
25  4.8          3.4         1.9          0.2         Iris-setosa
26  5.0          3.0         1.6          0.2         Iris-setosa
27  5.0          3.4         1.6          0.4         Iris-setosa
28  5.2          3.5         1.5          0.2         Iris-setosa
29  5.2          3.4         1.4          0.2         Iris-setosa
30  4.7          3.2         1.6          0.2         Iris-setosa
... ...          ...         ...          ...         ...
121 6.9          3.2         5.7          2.3         Iris-virginica
122 5.6          2.8         4.9          2.0         Iris-virginica
123 7.7          2.8         6.7          2.0         Iris-virginica
124 6.3          2.7         4.9          1.8         Iris-virginica
125 6.7          3.3         5.7          2.1         Iris-virginica
126 7.2          3.2         6.0          1.8         Iris-virginica
127 6.2          2.8         4.8          1.8         Iris-virginica
128 6.1          3.0         4.9          1.8         Iris-virginica
129 6.4          2.8         5.6          2.1         Iris-virginica
130 7.2          3.0         5.8          1.6         Iris-virginica
131 7.4          2.8         6.1          1.9         Iris-virginica
132 7.9          3.8         6.4          2.0         Iris-virginica
133 6.4          2.8         5.6          2.2         Iris-virginica
134 6.3          2.8         5.1          1.5         Iris-virginica
135 6.1          2.6         5.6          1.4         Iris-virginica
136 7.7          3.0         6.1          2.3         Iris-virginica
137 6.3          3.4         5.6          2.4         Iris-virginica
138 6.4          3.1         5.5          1.8         Iris-virginica
139 6.0          3.0         4.8          1.8         Iris-virginica
140 6.9          3.1         5.4          2.1         Iris-virginica
141 6.7          3.1         5.6          2.4         Iris-virginica
142 6.9          3.1         5.1          2.3         Iris-virginica
143 5.8          2.7         5.1          1.9         Iris-virginica
144 6.8          3.2         5.9          2.3         Iris-virginica
145 6.7          3.3         5.7          2.5         Iris-virginica
146 6.7          3.0         5.2          2.3         Iris-virginica
147 6.3          2.5         5.0          1.9         Iris-virginica
148 6.5          3.0         5.2          2.0         Iris-virginica
149 6.2          3.4         5.4          2.3         Iris-virginica
150 5.9          3.0         5.1          1.8         Iris-virginica

In [77]:
library(pryr)

ERROR: Error in library(pryr): there is no package called ‘pryr’

In [78]:
library(lubridate)

Attaching package: ‘lubridate’

The following object is masked from ‘package:base’:

    date