# Chapter 2

This notebook contains the commands that are shown in the lectures.

In [1]:
library(tidyverse)
library(lubridate)

Registered S3 methods overwritten by 'ggplot2':
  method         from
  [.quosures     rlang
  c.quosures     rlang
  print.quosures rlang
Registered S3 method overwritten by 'rvest':
  method            from
  read_xml.response xml2
── Attaching packages ─────────────────────────────────────── tidyverse 1.2.1 ──
✔ ggplot2 3.1.1       ✔ purrr   0.3.2
✔ tibble  2.1.1       ✔ dplyr   0.8.0.1
✔ tidyr   0.8.3       ✔ stringr 1.4.0
✔ readr   1.3.1       ✔ forcats 0.4.0
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

Attaching package: ‘lubridate’

The following object is masked from ‘package:base’:

    date

In [2]:
# Comment this out if you haven't installed arrow yet
library(arrow)

Warning message:
“package ‘arrow’ was built under R version 3.6.3”
Attaching package: ‘arrow’

The following object is masked from ‘package:utils’:

    timestamp

# Simple data operations

## Loading data from CSVs

[read_csv](https://readr.tidyverse.org/reference/read_delim.html)

In [3]:
atp_players <- read_csv('../data/atp_players.csv', col_names=c('player_id', 'first_name', 'last_name', 'hand', 'birth_date', 'country_code'))
head(atp_players)

Parsed with column specification:
cols(
  player_id = col_double(),
  first_name = col_character(),
  last_name = col_character(),
  hand = col_character(),
  birth_date = col_double(),
  country_code = col_character()
)

  player_id first_name     last_name hand birth_date country_code
1 100001    Gardnar        Mulloy    R    19131122   USA
2 100002    Pancho         Segura    R    19210620   ECU
3 100003    Frank          Sedgman   R    19271002   AUS
4 100004    Giuseppe       Merlo     R    19271011   ITA
5 100005    Richard Pancho Gonzales  R    19280509   USA
6 100006    Grant          Golden    R    19290821   USA

In [4]:
str(atp_players)

Classes ‘spec_tbl_df’, ‘tbl_df’, ‘tbl’ and 'data.frame':	54938 obs. of  6 variables:
 $ player_id   : num  1e+05 1e+05 1e+05 1e+05 1e+05 ...
 $ first_name  : chr  "Gardnar" "Pancho" "Frank" "Giuseppe" ...
 $ last_name   : chr  "Mulloy" "Segura" "Sedgman" "Merlo" ...
 $ hand        : chr  "R" "R" "R" "R" ...
 $ birth_date  : num  19131122 19210620 19271002 19271011 19280509 ...
 $ country_code: chr  "USA" "ECU" "AUS" "ITA" ...
 - attr(*, "spec")=
  .. cols(
  ..   player_id = col_double(),
  ..   first_name = col_character(),
  ..   last_name = col_character(),
  ..   hand = col_character(),
  ..   birth_date = col_double(),
  ..   country_code = col_character()
  .. )

In [5]:
head(atp_players)

  player_id first_name     last_name hand birth_date country_code
1 100001    Gardnar        Mulloy    R    19131122   USA
2 100002    Pancho         Segura    R    19210620   ECU
3 100003    Frank          Sedgman   R    19271002   AUS
4 100004    Giuseppe       Merlo     R    19271011   ITA
5 100005    Richard Pancho Gonzales  R    19280509   USA
6 100006    Grant          Golden    R    19290821   USA

## Creating and removing columns


[Tidyverse mutate](https://dplyr.tidyverse.org/reference/mutate.html)

[Lubridate parse_date_time](https://lubridate.tidyverse.org/reference/parse_date_time.html)

In [6]:
atp_players <- atp_players %>%
    mutate(birth_date=parse_date_time(birth_date, order='%a %Y%m%d'))
str(atp_players)

Warning message:
“All formats failed to parse. No formats found.”

Classes ‘spec_tbl_df’, ‘tbl_df’, ‘tbl’ and 'data.frame':	54938 obs. of  6 variables:
 $ player_id   : num  1e+05 1e+05 1e+05 1e+05 1e+05 ...
 $ first_name  : chr  "Gardnar" "Pancho" "Frank" "Giuseppe" ...
 $ last_name   : chr  "Mulloy" "Segura" "Sedgman" "Merlo" ...
 $ hand        : chr  "R" "R" "R" "R" ...
 $ birth_date  : POSIXct, format: NA NA ...
 $ country_code: chr  "USA" "ECU" "AUS" "ITA" ...

[unite](https://tidyr.tidyverse.org/reference/unite.html)

In [7]:
atp_players <- atp_players %>%
    unite(name, last_name, first_name, sep=', ', remove=FALSE)

head(atp_players)

  player_id name                     first_name     last_name hand birth_date
1 100001    Mulloy, Gardnar          Gardnar        Mulloy    R    <NA>
2 100002    Segura, Pancho           Pancho         Segura    R    <NA>
3 100003    Sedgman, Frank           Frank          Sedgman   R    <NA>
4 100004    Merlo, Giuseppe          Giuseppe       Merlo     R    <NA>
5 100005    Gonzales, Richard Pancho Richard Pancho Gonzales  R    <NA>
6 100006    Golden, Grant            Grant          Golden    R    <NA>
  country_code
1 USA
2 ECU
3 AUS
4 ITA
5 USA
6 USA

[select](https://dplyr.tidyverse.org/reference/select.html)

In [8]:
atp_players <- atp_players %>%
    select(-first_name, -last_name)

str(atp_players)

Classes ‘tbl_df’, ‘tbl’ and 'data.frame':	54938 obs. of  5 variables:
 $ player_id   : num  1e+05 1e+05 1e+05 1e+05 1e+05 ...
 $ name        : chr  "Mulloy, Gardnar" "Segura, Pancho" "Sedgman, Frank" "Merlo, Giuseppe" ...
 $ hand        : chr  "R" "R" "R" "R" ...
 $ birth_date  : POSIXct, format: NA NA ...
 $ country_code: chr  "USA" "ECU" "AUS" "ITA" ...

## Categorical data format

[mutate_at](https://dplyr.tidyverse.org/reference/mutate_all.html)

In [9]:
object.size(atp_players[['hand']])
atp_players <- atp_players %>%
    mutate_at(c('country_code', 'hand'), as.factor)
object.size(atp_players[['hand']])
print(levels(atp_players[['hand']]))
str(atp_players)

439776 bytes

220440 bytes

[1] "A" "L" "R" "U"
Classes ‘tbl_df’, ‘tbl’ and 'data.frame':	54938 obs. of  5 variables:
 $ player_id   : num  1e+05 1e+05 1e+05 1e+05 1e+05 ...
 $ name        : chr  "Mulloy, Gardnar" "Segura, Pancho" "Sedgman, Frank" "Merlo, Giuseppe" ...
 $ hand        : Factor w/ 4 levels "A","L","R","U": 3 3 3 3 3 3 2 3 3 3 ...
 $ birth_date  : POSIXct, format: NA NA ...
 $ country_code: Factor w/ 210 levels "AFG","AHO","ALB",..: 200 62 13 97 200 200 160 58 88 43 ...

## Turning input processing tasks into functions

In [10]:
load_atp_players <- function(atp_players_file){
    atp_players <- read_csv(atp_players_file, col_names=c('player_id', 'first_name', 'last_name', 'hand', 'birth_date', 'country_code'), col_types=cols()) %>%
        mutate(birth_date=parse_date_time(birth_date, order='%Y%m%d')) %>%
        unite(name, last_name, first_name, sep=', ', remove=TRUE) %>%
        mutate_at(c('country_code', 'hand'), as.factor)
    return(atp_players)
}

atp_players <- load_atp_players('../data/atp_players.csv')
head(atp_players)

Warning message:
“ 125 failed to parse.”

  player_id name                     hand birth_date country_code
1 100001    Mulloy, Gardnar          R    1913-11-22 USA
2 100002    Segura, Pancho           R    1921-06-20 ECU
3 100003    Sedgman, Frank           R    1927-10-02 AUS
4 100004    Merlo, Giuseppe          R    1927-10-11 ITA
5 100005    Gonzales, Richard Pancho R    1928-05-09 USA
6 100006    Golden, Grant            R    1929-08-21 USA

## Joining datasets together

[parse_date_time](https://lubridate.tidyverse.org/reference/parse_date_time.html)

In [11]:
load_atp_rankings <- function(atp_rankings_file){
    atp_rankings <- read_csv(atp_rankings_file, col_types=cols()) %>%
        mutate(ranking_date=parse_date_time(ranking_date, order='%Y%m%d'))
    return(atp_rankings)
}

atp_rankings00 <- load_atp_rankings('../data/atp_rankings_00s.csv')
atp_rankings10 <- load_atp_rankings('../data/atp_rankings_10s.csv')

head(atp_rankings00)
head(atp_rankings10)

  ranking_date rank player points
1 2000-01-10   1    101736 4135
2 2000-01-10   2    102338 2915
3 2000-01-10   3    101948 2419
4 2000-01-10   4    103017 2184
5 2000-01-10   5    102856 2169
6 2000-01-10   6    102358 2107

  ranking_date rank player points
1 2010-01-04   1    103819 10550
2 2010-01-04   2    104745  9205
3 2010-01-04   3    104925  8310
4 2010-01-04   4    104918  7030
5 2010-01-04   5    105223  6785
6 2010-01-04   6    103786  4930

[bind_rows](https://dplyr.tidyverse.org/reference/bind.html)

In [12]:
print(nrow(atp_rankings00))
print(nrow(atp_rankings10))
atp_rankings <- bind_rows(atp_rankings00, atp_rankings10)
print(nrow(atp_rankings))
print(head(atp_rankings))

[1] 920907
[1] 916296
[1] 1837203
# A tibble: 6 x 4
  ranking_date         rank player points
  <dttm>              <dbl>  <dbl>  <dbl>
1 2000-01-10 00:00:00     1 101736   4135
2 2000-01-10 00:00:00     2 102338   2915
3 2000-01-10 00:00:00     3 101948   2419
4 2000-01-10 00:00:00     4 103017   2184
5 2000-01-10 00:00:00     5 102856   2169
6 2000-01-10 00:00:00     6 102358   2107

[rename](https://dplyr.tidyverse.org/reference/rename.html)

In [13]:
atp_rankings <- atp_rankings %>%
    rename(player_id=player)
head(atp_rankings)

  ranking_date rank player_id points
1 2000-01-10   1    101736    4135
2 2000-01-10   2    102338    2915
3 2000-01-10   3    101948    2419
4 2000-01-10   4    103017    2184
5 2000-01-10   5    102856    2169
6 2000-01-10   6    102358    2107

In [14]:
load_multiple_atp_rankings <- function(atp_rankings_files){
    datasets <- list()
    for (atp_ranking_file in atp_rankings_files) {
        dataset <- load_atp_rankings(atp_ranking_file)
        datasets <- append(datasets, list(dataset))
    }
    atp_rankings <- bind_rows(datasets) %>%
        rename(player_id=player)
    return(atp_rankings)
}

atp_rankings <- load_multiple_atp_rankings(c('../data/atp_rankings_00s.csv','../data/atp_rankings_10s.csv'))
print(nrow(atp_rankings))
head(atp_rankings)

[1] 1837203

  ranking_date rank player_id points
1 2000-01-10   1    101736    4135
2 2000-01-10   2    102338    2915
3 2000-01-10   3    101948    2419
4 2000-01-10   4    103017    2184
5 2000-01-10   5    102856    2169
6 2000-01-10   6    102358    2107

[left_join](https://dplyr.tidyverse.org/reference/join.html)

In [15]:
atp_data <- atp_rankings %>%
    left_join(atp_players, by='player_id')
str(atp_data)
head(atp_data)

Classes ‘spec_tbl_df’, ‘tbl_df’, ‘tbl’ and 'data.frame':	1837203 obs. of  8 variables:
 $ ranking_date: POSIXct, format: "2000-01-10" "2000-01-10" ...
 $ rank        : num  1 2 3 4 5 6 7 8 9 10 ...
 $ player_id   : num  101736 102338 101948 103017 102856 ...
 $ points      : num  4135 2915 2419 2184 2169 ...
 $ name        : chr  "Agassi, Andre" "Kafelnikov, Yevgeny" "Sampras, Pete" "Kiefer, Nicolas" ...
 $ hand        : Factor w/ 4 levels "A","L","R","U": 3 3 3 3 3 3 3 3 2 3 ...
 $ birth_date  : POSIXct, format: "1970-04-29" "1974-02-18" ...
 $ country_code: Factor w/ 210 levels "AFG","AHO","ALB",..: 200 161 200 76 28 179 62 200 43 137 ...

  ranking_date rank player_id points name                hand birth_date
1 2000-01-10   1    101736    4135   Agassi, Andre       R    1970-04-29
2 2000-01-10   2    102338    2915   Kafelnikov, Yevgeny R    1974-02-18
3 2000-01-10   3    101948    2419   Sampras, Pete       R    1971-08-12
4 2000-01-10   4    103017    2184   Kiefer, Nicolas     R    1977-07-05
5 2000-01-10   5    102856    2169   Kuerten, Gustavo    R    1976-09-10
6 2000-01-10   6    102358    2107   Enqvist, Thomas     R    1974-03-13
  country_code
1 USA
2 RUS
3 USA
4 GER
5 BRA
6 SWE

## Demonstrating ATP dataset: Longest reign at rank 1

[filter](https://dplyr.tidyverse.org/reference/filter.html)

In [16]:
atp_top1 <- atp_data %>%
    filter(rank == 1)

# or

atp_top1 <- atp_data[atp_data['rank'] == 1,]

head(atp_top1)

  ranking_date rank player_id points name          hand birth_date country_code
1 2000-01-10   1    101736    4135   Agassi, Andre R    1970-04-29 USA
2 2000-01-17   1    101736    4135   Agassi, Andre R    1970-04-29 USA
3 2000-01-24   1    101736    4135   Agassi, Andre R    1970-04-29 USA
4 2000-01-31   1    101736    5045   Agassi, Andre R    1970-04-29 USA
5 2000-02-07   1    101736    5045   Agassi, Andre R    1970-04-29 USA
6 2000-02-14   1    101736    5045   Agassi, Andre R    1970-04-29 USA

[lag](https://dplyr.tidyverse.org/reference/lead-lag.html)

In [17]:
atp_top1 <- atp_top1 %>%
    mutate(previous_top=lag(player_id))

head(atp_top1)

  ranking_date rank player_id points name          hand birth_date country_code
1 2000-01-10   1    101736    4135   Agassi, Andre R    1970-04-29 USA
2 2000-01-17   1    101736    4135   Agassi, Andre R    1970-04-29 USA
3 2000-01-24   1    101736    4135   Agassi, Andre R    1970-04-29 USA
4 2000-01-31   1    101736    5045   Agassi, Andre R    1970-04-29 USA
5 2000-02-07   1    101736    5045   Agassi, Andre R    1970-04-29 USA
6 2000-02-14   1    101736    5045   Agassi, Andre R    1970-04-29 USA
  previous_top
1     NA
2 101736
3 101736
4 101736
5 101736
6 101736

In [18]:
# Better when we want to drop rows
atp_top1_reigns <- atp_top1 %>%
    filter(player_id != previous_top)

# Logical indexing is more useful when we want to edit certain rows
atp_top1_reigns <- drop_na(atp_top1[atp_top1['player_id'] != atp_top1['previous_top'],])
head(atp_top1_reigns)

  ranking_date rank player_id points name             hand birth_date
1 2000-09-11   1    101948    3739   Sampras, Pete    R    1971-08-12
2 2000-11-20   1    103498    3920   Safin, Marat     R    1980-01-27
3 2000-12-04   1    102856    4195   Kuerten, Gustavo R    1976-09-10
4 2001-01-29   1    103498    4265   Safin, Marat     R    1980-01-27
5 2001-02-26   1    102856    4365   Kuerten, Gustavo R    1976-09-10
6 2001-04-02   1    103498    4270   Safin, Marat     R    1980-01-27
  country_code previous_top
1 USA          101736
2 RUS          101948
3 BRA          103498
4 RUS          102856
5 BRA          103498
6 RUS          102856

[lead](https://dplyr.tidyverse.org/reference/lead-lag.html)

[difftime](https://www.rdocumentation.org/packages/base/versions/3.6.2/topics/difftime)

In [19]:
atp_top1_reigns <- atp_top1_reigns %>%
    mutate(reign_length=difftime(lead(ranking_date), ranking_date))
head(atp_top1_reigns)

  ranking_date rank player_id points name             hand birth_date
1 2000-09-11   1    101948    3739   Sampras, Pete    R    1971-08-12
2 2000-11-20   1    103498    3920   Safin, Marat     R    1980-01-27
3 2000-12-04   1    102856    4195   Kuerten, Gustavo R    1976-09-10
4 2001-01-29   1    103498    4265   Safin, Marat     R    1980-01-27
5 2001-02-26   1    102856    4365   Kuerten, Gustavo R    1976-09-10
6 2001-04-02   1    103498    4270   Safin, Marat     R    1980-01-27
  country_code previous_top reign_length
1 USA          101736       70 days
2 RUS          101948       14 days
3 BRA          103498       56 days
4 RUS          102856       28 days
5 BRA          103498       35 days
6 RUS          102856       21 days

[top_n](https://dplyr.tidyverse.org/reference/top_n.html)

[arrange](https://dplyr.tidyverse.org/reference/arrange.html)

[desc](https://dplyr.tidyverse.org/reference/desc.html)

In [20]:
atp_top1_reigns %>%
    top_n(5, reign_length) %>%
    arrange(desc(reign_length))

  ranking_date rank player_id points name            hand birth_date
1 2004-02-02   1    103819     5225  Federer, Roger  R    1981-08-08
2 2014-07-07   1    104925    13130  Djokovic, Novak R    1987-05-22
3 2001-11-19   1    103720     4365  Hewitt, Lleyton R    1981-02-24
4 2010-06-07   1    104745     8700  Nadal, Rafael   L    1986-06-03
5 2011-07-04   1    104925    13285  Djokovic, Novak R    1987-05-22
  country_code previous_top reign_length
1 SUI          104053       1659 days
2 SRB          104745        854 days
3 AUS          102856        525 days
4 ESP          103819        392 days
5 SRB          104745        371 days

# Using binary data formats to improve your pipeline

## CSVs and challenges with them

In [21]:
write_csv(atp_data, '../data/atp_data_r.csv')
head(read_csv('../data/atp_data_r.csv'))

Parsed with column specification:
cols(
  ranking_date = col_datetime(format = ""),
  rank = col_double(),
  player_id = col_double(),
  points = col_double(),
  name = col_character(),
  hand = col_character(),
  birth_date = col_datetime(format = ""),
  country_code = col_character()
)

  ranking_date rank player_id points name                hand birth_date
1 2000-01-10   1    101736    4135   Agassi, Andre       R    1970-04-29
2 2000-01-10   2    102338    2915   Kafelnikov, Yevgeny R    1974-02-18
3 2000-01-10   3    101948    2419   Sampras, Pete       R    1971-08-12
4 2000-01-10   4    103017    2184   Kiefer, Nicolas     R    1977-07-05
5 2000-01-10   5    102856    2169   Kuerten, Gustavo    R    1976-09-10
6 2000-01-10   6    102358    2107   Enqvist, Thomas     R    1974-03-13
  country_code
1 USA
2 RUS
3 USA
4 GER
5 BRA
6 SWE

## Serialized objects

In [22]:
save(atp_data, file='../data/atp_data.Rdata')
rm(atp_data)

In [23]:
load('../data/atp_data.Rdata')
head(atp_data)

  ranking_date rank player_id points name                hand birth_date
1 2000-01-10   1    101736    4135   Agassi, Andre       R    1970-04-29
2 2000-01-10   2    102338    2915   Kafelnikov, Yevgeny R    1974-02-18
3 2000-01-10   3    101948    2419   Sampras, Pete       R    1971-08-12
4 2000-01-10   4    103017    2184   Kiefer, Nicolas     R    1977-07-05
5 2000-01-10   5    102856    2169   Kuerten, Gustavo    R    1976-09-10
6 2000-01-10   6    102358    2107   Enqvist, Thomas     R    1974-03-13
  country_code
1 USA
2 RUS
3 USA
4 GER
5 BRA
6 SWE

## Feather

In [24]:
write_feather(atp_data ,'../data/atp_data_r.feather')
head(read_feather('../data/atp_data_r.feather'))

  ranking_date rank player_id points name                hand birth_date
1 2000-01-10   1    101736    4135   Agassi, Andre       R    1970-04-29
2 2000-01-10   2    102338    2915   Kafelnikov, Yevgeny R    1974-02-18
3 2000-01-10   3    101948    2419   Sampras, Pete       R    1971-08-12
4 2000-01-10   4    103017    2184   Kiefer, Nicolas     R    1977-07-05
5 2000-01-10   5    102856    2169   Kuerten, Gustavo    R    1976-09-10
6 2000-01-10   6    102358    2107   Enqvist, Thomas     R    1974-03-13
  country_code
1 USA
2 RUS
3 USA
4 GER
5 BRA
6 SWE

## Parquet

In [25]:
library(arrow)
write_parquet(atp_data ,'../data/atp_data_r.parquet')
head(read_parquet('../data/atp_data_r.parquet'))

  ranking_date rank player_id points name                hand birth_date
1 2000-01-10   1    101736    4135   Agassi, Andre       R    1970-04-29
2 2000-01-10   2    102338    2915   Kafelnikov, Yevgeny R    1974-02-18
3 2000-01-10   3    101948    2419   Sampras, Pete       R    1971-08-12
4 2000-01-10   4    103017    2184   Kiefer, Nicolas     R    1977-07-05
5 2000-01-10   5    102856    2169   Kuerten, Gustavo    R    1976-09-10
6 2000-01-10   6    102358    2107   Enqvist, Thomas     R    1974-03-13
  country_code
1 USA
2 RUS
3 USA
4 GER
5 BRA
6 SWE

## HDF5

In [26]:
library(hdf5r)
h5_file <- H5File$new('../data/atp_data_r.h5', mode = 'w')
h5_group <- h5_file$create_group('atp_data')
for (column in colnames(atp_data)) {
    h5_group[[column]] <- atp_data[[column]]
}
print(h5_group)
print(h5_file)

h5_file$close_all()

Warning message:
“package ‘hdf5r’ was built under R version 3.6.3”
Attaching package: ‘hdf5r’

The following object is masked from ‘package:purrr’:

    flatten_df

Warning message in ds$write_low_level(robj):
“During conversion, the following issues occured: H5T_CONV_EXCEPT_RANGE_LOW”

Class: H5Group
Filename: /u/59/tuomiss1/unix/dataanalysis/data-analysis-workflows-course/data/atp_data_r.h5
Group: /atp_data
Listing:
         name    obj_type dataset.dims dataset.type_class
   birth_date H5I_DATASET      1837203          H5T_FLOAT
 country_code H5I_DATASET      1837203           H5T_ENUM
         hand H5I_DATASET      1837203           H5T_ENUM
         name H5I_DATASET      1837203         H5T_STRING
    player_id H5I_DATASET      1837203          H5T_FLOAT
       points H5I_DATASET      1837203          H5T_FLOAT
         rank H5I_DATASET      1837203          H5T_FLOAT
 ranking_date H5I_DATASET      1837203          H5T_FLOAT
Class: H5File
Filename: /u/59/tuomiss1/unix/dataanalysis/data-analysis-workflows-course/data/atp_data_r.h5
Access type: H5F_ACC_RDWR
Listing:
     name  obj_type dataset.dims dataset.type_class
 atp_data H5I_GROUP         <NA>               <NA>

## Other data formats

### Excel spreadsheets

In [24]:
library(readxl)
efw <- read_excel('../data/efw.xlsx', col_names=TRUE, range='B5:BU4055')
head(efw)

New names:
* data -> data...8
* data -> data...10
* data -> data...12
* data -> data...14
* data -> data...16
* … and 6 more problems

  Year ISO_Code Countries Economic Freedom Summary Index Rank Quartile
1 2018 ALB      Albania   7.80                            26  1
2 2018 DZA      Algeria   4.97                           157  4
3 2018 AGO      Angola    4.75                           159  4
4 2018 ARG      Argentina 5.78                           144  4
5 2018 ARM      Armenia   7.92                            18  1
6 2018 AUS      Australia 8.23                             5  1
  Government consumption data...8 Transfers and subsidies data...10 ...
1 8.155882               12.27000 6.738420                12.470000 ...
2 3.220588               29.05000 7.817129                 8.511137 ...
3 7.698695               13.82444 9.623978                 1.880000 ...
4 5.938235               19.81000 6.307902                14.050000 ...
5 7.717647               13.76000 7.711172                 8.900000 ...
6 4.450000               24.87000 6.867958                11.994595 ...
  Conscription Labor market regulations Administrative requirements
1 10           6.717929                 5.651538
2  3           5.645397                 4.215154
3  0           5.338186                 2.937894
4 10           5.119549                 2.714233
5  0           6.461113                 5.170406
6 10           7.803349                 3.981758
  Regulatory Burden Starting a business Impartial Public Administration
1 6.666667          9.742477             5.396
2 2.444444          9.305002             3.906
3 2.444444          8.730805             5.044
4 6.666667          9.579288             7.202
5 6.000000          9.863530             6.298
6 8.888889          9.928614            10.000
  Licensing restrictions Tax compliance Business regulations Regulation
1 5.621940               7.175250       6.708979             7.721734
2 8.771111               7.029528       5.945207             5.563704
3 7.916416               6.782923       5.642747             5.386200
4 5.726521               6.508295       6.399500             5.757401
5 9.302574               7.040738       7.279208             7.762321
6 8.953087               8.823021       8.429228             8.726281

In [21]:
nrow(efw)

[1] 4050

In [80]:
library(DBI)
con <- DBI::dbConnect(RSQLite::SQLite(), dbname = "../data/iris_r.sqlite")
copy_to(con, iris, overwrite=TRUE, temporary=FALSE)
dbDisconnect(con)

con <- DBI::dbConnect(RSQLite::SQLite(), dbname = "../data/iris_r.sqlite")
print(tbl(con,'iris'))
dbDisconnect(con)

# Source:   table<iris> [?? x 5]
# Database: sqlite 3.22.0
#   [/u/59/tuomiss1/unix/dataanalysis/data-analysis-workflows-course/data/iris_r.sqlite]
   Sepal.Length Sepal.Width Petal.Length Petal.Width Species
          <dbl>       <dbl>        <dbl>       <dbl> <chr>
 1          5.1         3.5          1.4         0.2 Iris-setosa
 2          4.9         3            1.4         0.2 Iris-setosa
 3          4.7         3.2          1.3         0.2 Iris-setosa
 4          4.6         3.1          1.5         0.2 Iris-setosa
 5          5           3.6          1.4         0.2 Iris-setosa
 6          5.4         3.9          1.7         0.4 Iris-setosa
 7          4.6         3.4          1.4         0.3 Iris-setosa
 8          5           3.4          1.5         0.2 Iris-setosa
 9          4.4         2.9          1.4         0.2 Iris-setosa
10          4.9         3.1          1.5         0.1 Iris-setosa
# … with more rows

    Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1   5.1          3.5         1.4          0.2         Iris-setosa
2   4.9          3.0         1.4          0.2         Iris-setosa
3   4.7          3.2         1.3          0.2         Iris-setosa
4   4.6          3.1         1.5          0.2         Iris-setosa
5   5.0          3.6         1.4          0.2         Iris-setosa
6   5.4          3.9         1.7          0.4         Iris-setosa
7   4.6          3.4         1.4          0.3         Iris-setosa
8   5.0          3.4         1.5          0.2         Iris-setosa
9   4.4          2.9         1.4          0.2         Iris-setosa
10  4.9          3.1         1.5          0.1         Iris-setosa
11  5.4          3.7         1.5          0.2         Iris-setosa
12  4.8          3.4         1.6          0.2         Iris-setosa
13  4.8          3.0         1.4          0.1         Iris-setosa
14  4.3          3.0         1.1          0.1         Iris-setosa
15  5.8          4.0         1.2          0.2         Iris-setosa
16  5.7          4.4         1.5          0.4         Iris-setosa
17  5.4          3.9         1.3          0.4         Iris-setosa
18  5.1          3.5         1.4          0.3         Iris-setosa
19  5.7          3.8         1.7          0.3         Iris-setosa
20  5.1          3.8         1.5          0.3         Iris-setosa
21  5.4          3.4         1.7          0.2         Iris-setosa
22  5.1          3.7         1.5          0.4         Iris-setosa
23  4.6          3.6         1.0          0.2         Iris-setosa
24  5.1          3.3         1.7          0.5         Iris-setosa
25  4.8          3.4         1.9          0.2         Iris-setosa
26  5.0          3.0         1.6          0.2         Iris-setosa
27  5.0          3.4         1.6          0.4         Iris-setosa
28  5.2          3.5         1.5          0.2         Iris-setosa
29  5.2          3.4         1.4          0.2         Iris-setosa
30  4.7          3.2         1.6          0.2         Iris-setosa
... ...          ...         ...          ...         ...
121 6.9          3.2         5.7          2.3         Iris-virginica
122 5.6          2.8         4.9          2.0         Iris-virginica
123 7.7          2.8         6.7          2.0         Iris-virginica
124 6.3          2.7         4.9          1.8         Iris-virginica
125 6.7          3.3         5.7          2.1         Iris-virginica
126 7.2          3.2         6.0          1.8         Iris-virginica
127 6.2          2.8         4.8          1.8         Iris-virginica
128 6.1          3.0         4.9          1.8         Iris-virginica
129 6.4          2.8         5.6          2.1         Iris-virginica
130 7.2          3.0         5.8          1.6         Iris-virginica
131 7.4          2.8         6.1          1.9         Iris-virginica
132 7.9          3.8         6.4          2.0         Iris-virginica
133 6.4          2.8         5.6          2.2         Iris-virginica
134 6.3          2.8         5.1          1.5         Iris-virginica
135 6.1          2.6         5.6          1.4         Iris-virginica
136 7.7          3.0         6.1          2.3         Iris-virginica
137 6.3          3.4         5.6          2.4         Iris-virginica
138 6.4          3.1         5.5          1.8         Iris-virginica
139 6.0          3.0         4.8          1.8         Iris-virginica
140 6.9          3.1         5.4          2.1         Iris-virginica
141 6.7          3.1         5.6          2.4         Iris-virginica
142 6.9          3.1         5.1          2.3         Iris-virginica
143 5.8          2.7         5.1          1.9         Iris-virginica
144 6.8          3.2         5.9          2.3         Iris-virginica
145 6.7          3.3         5.7          2.5         Iris-virginica
146 6.7          3.0         5.2          2.3         Iris-virginica
147 6.3          2.5         5.0          1.9         Iris-virginica
148 6.5          3.0         5.2          2.0         Iris-virginica
149 6.2          3.4         5.4          2.3         Iris-virginica
150 5.9          3.0         5.1          1.8         Iris-virginica

In [77]:
library(pryr)

ERROR: Error in library(pryr): there is no package called ‘pryr’

In [78]:
library(lubridate)

Attaching package: ‘lubridate’

The following object is masked from ‘package:base’:

    date