# Basic R structures

This notebooks will deal with most common data and code structures in R.

## Data frames

The single most common object when dealing with data in R is the `data.frame`-structure.

`data.frame` contains data in tabular form.[1](https://stat.ethz.ch/R-manual/R-devel/library/base/html/data.frame.html)

Let us load a internal R sample data set that has car information.

In [65]:
df <- mtcars
is.data.frame(df)

# Print only first rows
head(df)

[1] TRUE

                  mpg  cyl disp hp  drat wt    qsec  vs am gear carb
Mazda RX4         21.0 6   160  110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag     21.0 6   160  110 3.90 2.875 17.02 0  1  4    4
Datsun 710        22.8 4   108   93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive    21.4 6   258  110 3.08 3.215 19.44 1  0  3    1
Hornet Sportabout 18.7 8   360  175 3.15 3.440 17.02 0  0  3    2
Valiant           18.1 6   225  105 2.76 3.460 20.22 1  0  3    1

The names of the columns and rows can be accessed through `colnames` and `rownames`. 

Number of columns and rows can be obtained with `ncol` and `nrow`.

In [26]:
colnames(df)
rownames(df)
ncol(df)
nrow(df)

 [1] "mpg"  "cyl"  "disp" "hp"   "drat" "wt"   "qsec" "vs"   "am"   "gear"
[11] "carb"

 [1] "Mazda RX4"           "Mazda RX4 Wag"       "Datsun 710"
 [4] "Hornet 4 Drive"      "Hornet Sportabout"   "Valiant"
 [7] "Duster 360"          "Merc 240D"           "Merc 230"
[10] "Merc 280"            "Merc 280C"           "Merc 450SE"
[13] "Merc 450SL"          "Merc 450SLC"         "Cadillac Fleetwood"
[16] "Lincoln Continental" "Chrysler Imperial"   "Fiat 128"
[19] "Honda Civic"         "Toyota Corolla"      "Toyota Corona"
[22] "Dodge Challenger"    "AMC Javelin"         "Camaro Z28"
[25] "Pontiac Firebird"    "Fiat X1-9"           "Porsche 914-2"
[28] "Lotus Europa"        "Ford Pantera L"      "Ferrari Dino"
[31] "Maserati Bora"       "Volvo 142E"

[1] 11

[1] 32

`data.frame` access is typically done through these names.

In [58]:
# Get specific row, all columns
df["Dodge Challenger",]
# Get all rows, specific columns
df[,c("cyl","disp")]
# Create a boolean vector where each row is TRUE or FALSE based on whether cyl == 6 or not
cyl6 <- df[,"cyl"] == 6
cyl6
# Get all rows based on an indexing vector
df[cyl6,]

                 mpg  cyl disp hp  drat wt   qsec  vs am gear carb
Dodge Challenger 15.5 8   318  150 2.76 3.52 16.87 0  0  3    2

                    cyl disp
Mazda RX4           6   160.0
Mazda RX4 Wag       6   160.0
Datsun 710          4   108.0
Hornet 4 Drive      6   258.0
Hornet Sportabout   8   360.0
Valiant             6   225.0
Duster 360          8   360.0
Merc 240D           4   146.7
Merc 230            4   140.8
Merc 280            6   167.6
Merc 280C           6   167.6
Merc 450SE          8   275.8
Merc 450SL          8   275.8
Merc 450SLC         8   275.8
Cadillac Fleetwood  8   472.0
Lincoln Continental 8   460.0
Chrysler Imperial   8   440.0
Fiat 128            4    78.7
Honda Civic         4    75.7
Toyota Corolla      4    71.1
Toyota Corona       4   120.1
Dodge Challenger    8   318.0
AMC Javelin         8   304.0
Camaro Z28          8   350.0
Pontiac Firebird    8   400.0
Fiat X1-9           4    79.0
Porsche 914-2       4   120.3
Lotus Europa        4    95.1
Ford Pantera L      8   351.0
Ferrari Dino        6   145.0
Maserati Bora       8   301.0
Volvo 142E          4   121.0

 [1]  TRUE  TRUE FALSE  TRUE FALSE  TRUE FALSE FALSE FALSE  TRUE  TRUE FALSE
[13] FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE
[25] FALSE FALSE FALSE FALSE FALSE  TRUE FALSE FALSE

               mpg  cyl disp  hp  drat wt    qsec  vs am gear carb
Mazda RX4      21.0 6   160.0 110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag  21.0 6   160.0 110 3.90 2.875 17.02 0  1  4    4
Hornet 4 Drive 21.4 6   258.0 110 3.08 3.215 19.44 1  0  3    1
Valiant        18.1 6   225.0 105 2.76 3.460 20.22 1  0  3    1
Merc 280       19.2 6   167.6 123 3.92 3.440 18.30 1  0  4    4
Merc 280C      17.8 6   167.6 123 3.92 3.440 18.90 1  0  4    4
Ferrari Dino   19.7 6   145.0 175 3.62 2.770 15.50 0  1  5    6

Let's create a new column from *mpg* that shows litre per 100 kilometres *lkm*:

In [66]:
df["lkm"] = 235.214583 / df["mpg"]
head(df)

                  mpg  cyl disp hp  drat wt    qsec  vs am gear carb lkm
Mazda RX4         21.0 6   160  110 3.90 2.620 16.46 0  1  4    4    11.20069
Mazda RX4 Wag     21.0 6   160  110 3.90 2.875 17.02 0  1  4    4    11.20069
Datsun 710        22.8 4   108   93 3.85 2.320 18.61 1  1  4    1    10.31643
Hornet 4 Drive    21.4 6   258  110 3.08 3.215 19.44 1  0  3    1    10.99134
Hornet Sportabout 18.7 8   360  175 3.15 3.440 17.02 0  0  3    2    12.57832
Valiant           18.1 6   225  105 2.76 3.460 20.22 1  0  3    1    12.99528